@font-face{
	font-family: secondFont;
	src:url("DISTROT_.ttf");
}
@font-face{
	font-family:ALCOPPLN;
	src:url("ALCOPPLN.ttf");
}
@font-face{
	font-family: JH_TITLES;
	src:url("JH_TITLES.ttf");
}
@font-face{
	font-family: DISTROT_;
	src:url("DISTROT_.ttf");
}
@font-face{
	font-family: ALADDIN;
	src:url("ALADDIN.ttf");
}
@font-face{
	font-family: ARISTON;
	src:url("ARISTON.ttf");
}