img#Krishnafoto{
	left:30%;
	right: 30%;
}
img#JoshepFoto{
	left:30%;
	right: 30%;
}

img#GlenFoto{
	left:30%;
	right: 30%;
}

img#LukasFoto{
	left:30%;
	right: 30%;
}

img#NelsonFoto{
	left:30%;
	right: 30%;
}